# Functions and Methods Homework 

Complete the following questions:
____
**Write a function that computes the volume of a sphere given its radius.**

volume = 4/3 pi $r ^3$

In [0]:
def vol(rad):
    # code here

In [4]:
def vol(rad):
    print((4/3)*(22/7)*(rad**3))

In [7]:
vol(6)

905.142857142857

___
**Write a function that checks whether a number is in a given range (Inclusive of high and low)**

In [5]:
def ran_check(num,low,high):
    if num>=low and num<=high:
        print("giver num is in btw range")
    else:
        print("not in range")
ran_check(6,1,4)

not in range

If you only wanted to return a boolean:

In [6]:
def ran_bool(num,low,high):
    if num>=low and num<=high:
            print("True")
    else:
            print("False")
ran_bool(3,1,4)

True

In [7]:
ran_bool(3,1,10)

True

____
**Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.**

    Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
    Expected Output : 
    No. of Upper case characters : 4
    No. of Lower case Characters : 33

If you feel ambitious, explore the Collections module to solve this problem!

In [8]:
def up_low(s):
    upper=0
    lower=0
    for c in s:
        if c.isupper():
            upper=upper+1
        elif c.islower():
            lower=lower+1
    print("no of upper case character: ",upper)
    print("no of lower case character: ",lower)
up_low('Hello Mr. Rogers, how are you this fine Tuesday?')

no of upper case character:  4
no of lower case character:  33

____
**Write a Python function that takes a list and returns a new list with unique elements of the first list.**

    Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
    Unique List : [1, 2, 3, 4, 5]

In [9]:
def unique_list(l):
    s=[]
    for i in l:
        if i not in s:
            s.append(i)
    print(s)
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [0]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

____
**Write a Python function to multiply all the numbers in a list.**

    Sample List : [1, 2, 3, -4]
    Expected Output : -24

In [10]:
def multiply(numbers):
    s=1
    for i in numbers:
        s=s*i
    print(s)
        
multiply([1, 2, 3, -4])

-24

In [11]:
multiply([1,2,3,-4])

-24

____
**Write a Python function that checks whether a passed string is palindrome or not.**

Note: A palindrome is word, phrase, or sequence that reads the same backward as forward, e.g., madam or nurses run.

In [12]:
def palindrome(s):
    if s==s[::-1]:
        print("its is a palindrome True")
    else:
        print("not a palindrome False")
palindrome("madam")

its is a palindrome True

In [13]:
palindrome('helleh')

its is a palindrome True

## Given a number N.Find Sum of 1 to N Using Recursion

In [17]:
def summation(n):
    if x==1:
        return x
    else:
        return x+summation(x-1)


n = int(input())
sum = summation(n)
print(sum)

10

NameError: name 'x' is not defined

In [16]:
def summation(x):
    if x==1:
        return x
    else:
        return x+summation(x-1)
summation(10)

55

### Define a function which can generate and print a list where the values are square of numbers between 1 and 20

In [19]:
def printList():
    l=[]
    for i in range(1,21):
        
        l.append(i**2)
    print(l)

printList()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

### Define a function which can generate a dictionary where the keys are numbers between 1 and 20 (both included) and the values are square of keys. The function should just print the keys only.

In [20]:
def printDict():
    d=dict()
    for i in range(1,21):
        d[i]=i*i
    print(d.keys())
printDict()

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

In [4]:
def printDict():
    #Code Here


printDict()

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

### Write a function that count the no of characters of the given input text
- input
    - innomatics research labs
    
- output
    - innomatics :10
    - research : 8
    - labs : 4

In [21]:
x="innomatics","research","labs"
print("innomatics",len(x[0]))
print("research",len(x[1]))
print("labs",len(x[2]))

innomatics 10
research 8
labs 4

### Write a program which can map() to make a list whose elements are square of elements in [1,2,3,4,5,6,7,8,9,10].

Using map() function

In [ ]:
# CODE HERE
# No different way of code is written as the requirment is specificly mentioned in problem description

li = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#Code here

print(list(squaredNumbers))  # converting the object into list

In [1]:
a=map(lambda x:x**2,[1,2,3,4,5,6,7,8,9,10] )
list(a)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Write a program which can map() and filter() to make a list whose elements are square of even number in [1,2,3,4,5,6,7,8,9,10].
##### using filter()

In [2]:

def even(x):
#Code here


def squer(x):
    #Code here


li = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# code here
# first filters number by even number and the apply map() on the resultant elements
print(list(li))

[4, 16, 36, 64, 100]

In [26]:
def even(x):
    return x%2==0
sq1=list(filter(even,[1,2,3,4,5,6,7,8,9,10]))
def sq(x):
    return x**2
list(map(sq,sq1))

[4, 16, 36, 64, 100]

### Write a program which can filter() to make a list whose elements are even number between 1 and 20 (both included)

In [3]:
# CODE HERE
def even(x):
#code here


evenNumbers = filter(even, range(1, 21))
print(list(evenNumbers))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [27]:
def even(x):
    return x%2==0
    
    
even1=filter(even,range(1,21))
print(list(even1))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### $f(n)=f(n-1)+f(n-2)$ if n>1

In [4]:
def f(n):
# Code here


n = int(input("Enter n value"))
print(f(n))

Enter n value7
13

In [28]:
def f(n):
    if n<=1:
        print("incorrect")
    elif n==2:
        return 1
    elif n==3:
        return 2
    else:
        return f(n-1)+f(n-2)
n=int(input("enter n value"))
print(f(n))

enter n value5
5

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)